<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog API </title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <h1>Random Dog</h1>
    <div class="image-container">
        <form action="/randomDog" method="post">
            <button type="submit">Get Random Dog</button>
        </form>
        <img src=<%= dogImage %> alt="radom dog">
    </div>
</body>
</html>