<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oh No!</title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <div class="bitcoin-container">
      <h1>Oh No! The Blockchain Crashed!</h1>
      <img src="./bitcoin-error.webp" alt="bitcoin image" />
    </div>
  </body>
</html>
