<%- include("partials/header", {title: "Oh no!"}) %> <%-
include("partials/navbar") %>
<div class="error-bg"></div>
<div style="display: block; text-align: center;" class="error-title"><h1>Errors are Inevitable!</h1><button type="button" class="btn btn-light"><a style="text-decoration: none ; color: black" href="/home">Return Home</a></button></div>
<%- include("partials/footer") %>
