<%- include("partials/header", {title: "Not Found"}) %>
<%- include("partials/navbar") %>
    <div class="home-container">
        <h1>No Films Found</h1>
        <button type="button" class="btn btn-light"><a style="text-decoration: none ; color: black" href="/home">Return Home</a></button>
    </div>
<%- include("partials/footer") %> 