/* The color theme used on the app is to match the logo color palette */

/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Body settings */

body {
    font-family: 'Cinzel', serif;
    color: #F1C376;
    height: 100vh;
    background: url(./assets/barbershop.jpeg) no-repeat center fixed;
    background-size:cover;
    backdrop-filter: blur(10px);
}

/* Navbar settings */
.navbar-brand {
    width: 4rem;
}

.nav-link {
    transition: .3s;
}

.nav-link:hover {
    transform: scale(1.1);
    color: #F1C376;
}

/* Header and sub-header settings */

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 3.5rem;
}

h1, h2 {
    text-align: center;
    margin: 1rem auto 0;
    padding-top: 3rem;

}

.img-container {
    width: 45vw;
    text-align: center;
    margin: auto;
}

img {
    width: 100%;
    transition: .6s;
}

img:hover {
    transform: scale(1.08);
}

/* This class is utilized to style the button container on the homepage and haircuts page */
.appointment-container {
    /* margin-top: 5em; */
    font-size: 1.3em;
    text-align: center;
}

/* custom button styling to match color theme */
.btn {
    transition: .3s;
    box-shadow: #F1c376 4px 4px 4px;
}

.btn:hover {
    transform: scale(1.1);
    
    background-color: #F1C376;
}


/* Menu styling  */
.table-container {
    color: aliceblue;
    font-family: sans-serif;
    background-color: rgba(255, 255, 255, 0.299);
    box-shadow: #F1C376 8px 8px 8px ;
    padding: 40px;
    width: 90%;
    margin: 25px auto;
    border-radius: 10px;
}

.table {
    color: aliceblue;
}


/* Hiring Form */
.form-container {
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.299);
    box-shadow: 8px 8px 8px ;
    border-radius: 10px;
    margin: 10px auto;
    width: 80%;
    height: fit-content;
}


.form-buttons {
    text-align: center;
}


/* Footer section */
.footer {
    color: aliceblue;
    padding: 30px;
    text-align: center;
    margin-top: 100px;
}

/* Social Media Links */
.socials {
    padding: 2em;
}

.socials i {
    font-size: 1.5em;
    width: 1.2em;
    transition: .4s;
    cursor: pointer;
}

.socials i:hover {
    transform: scale(1.3);
    color: #F1C376;
}

/* This media query is only used to control the blur background effect */

@media only screen and (max-width: 800px ) {
    body {
        height: fit-content;
    }

}