/* The color theme used on the app is to match the logo color palette */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Body settings */

body {
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    height: 100%;
    background: linear-gradient(135deg,rgb(11, 48, 135), rgb(113, 48, 10)) fixed center no-repeat;
    background-size: 100%;

}

/* Navbar settings */
.navbar {
    text-shadow: #ac5631 4px 4px 4px;
    box-shadow: #ac5631 4px 4px 4px;
    
}
.navbar-brand img{
    width: 3em;
}

.nav-link {
    color: aliceblue;
    transition: .3s;
}

.nav-link:hover {
    transform: scale(1.1);
    color: #cd6215;
}

/* Header settings */

 h2 {
    font-size: 3.5rem;
    text-align: center;
    margin: 1em auto 1em;
    padding-top: 3rem;
    text-shadow: #ac5631 4px 4px 4px;

}

/* Form Styling settings */
.form-list-container {
    width: 90vw;
    margin: auto;
}

.appt-form-ctn {
    background-color: rgba(240, 248, 255, 0.134);
    padding: 2em;
    border-radius: 10px;
    border: aliceblue 1px solid;

}

.form-buttons {
    text-align: center;
}

.button-form {
    margin: 1em;
}
.btn {
    transition: .3s;
    box-shadow: #b46848 4px 4px 4px;
}

.btn:hover {
    transform: scale(1.1);
    
    background-color: #F1C376;
}


/* Table Style settings */
.roster-table {
    background-color: rgba(240, 248, 255, 0.134);
    border: #b46848 1px solid;
    border-radius: 10px;

}

.table {
    margin: 1em auto;
    border-radius: 10px;
}

.fa-trash-can {
    cursor: pointer;
    color: #ac5631;
    padding-left: 1em;
}



/* custom button styling to match color theme */




/* Footer section */
.footer {
    color: aliceblue;
    padding: 30px;
    text-align: center;
    margin-top: 100px;
}


