html {
    background:  url("./assets/background.webp") no-repeat center center fixed;
    background-size: cover;

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #f9f9f9;
    font-family: 'Helvetica', sans-serif;
}

.navbar-brand {
    display: inline-flex;
    text-decoration: none;
    color: darkred;
}

.link {
    text-decoration: none;
    color: inherit;
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

img {
    width: 45vw;
}