@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Cinzel', serif;
    color: #F1C376;
    height: 100vh;
    background: url(./assets/barbershop.jpeg) no-repeat center fixed;
    background-size:cover;
    backdrop-filter: blur(10px);
}


.navbar-brand {
    width: 50px;
}

.nav-link {
    transition: .3s;
}

.nav-link:hover {
    transform: scale(1.1);
    color: #F1C376;
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 3.5rem;
}

h1, h2 {
    text-align: center;
    margin: auto;
    padding-top: 30px;

}

.img-container {
    width: 28%;
    text-align: center;
    margin: auto;
}

img {
    width: 100%;
    transition: .6s;
}

img:hover {
    transform: scale(1.08);
}

.appointment-container {
    margin-top: 5em;
    font-size: 1.3em;
    text-align: center;
}

.btn {
    transition: .3s;
    box-shadow: #F1c376 4px 4px 4px;
}

.btn:hover {
    transform: scale(1.1);
    
    background-color: #F1C376;
}



.table-container {
    color: aliceblue;
    font-family: sans-serif;
    background-color: rgba(255, 255, 255, 0.299);
    box-shadow: #F1C376 8px 8px 8px ;
    padding: 40px;
    width: 90%;
    margin: 25px auto;
    border-radius: 10px;
}

.table {
    color: aliceblue;
}




.form-container {
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.299);
    box-shadow: 8px 8px 8px ;
    border-radius: 10px;
    margin: 10px auto;
    width: 80%;
    height: fit-content;
}

textarea {
    color: black;
    width: 100%;
    border-radius: 10px;
}

.form-buttons {
    text-align: center;

}



.footer {
    color: aliceblue;
    padding: 30px;
    text-align: center;
    margin-top: 100px;

}

.socials {
    padding: 2em;
}

.socials i {
    font-size: 1.5em;
    width: 1.2em;
}

/* This media query is only used to control the blur background effect */

@media only screen and (max-width: 800px ) {
    body {
        height: fit-content;
    }
}